<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Price Predictor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Crypto Price Predictor</h1>
        <form method="post" class="mt-4">
            <div class="form-group">
                <label for="crypto">Selecciona una criptomoneda:</label>
                <select id="crypto" name="crypto" class="form-control">
                    {% for crypto in cryptos %}
                        <option value="{{ crypto }}" {% if crypto == selected_crypto %}selected{% endif %}>{{ crypto.capitalize() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="date">Selecciona una fecha:</label>
                <input type="date" id="date" name="date" class="form-control" value="{{ request.form.date }}">
            </div>
            <button type="submit" class="btn btn-primary">Predecir Precio</button>
        </form>

        {% if selected_crypto %}
            <div class="mt-4">
                <h3>Resultados para {{ selected_crypto.capitalize() }}</h3>
                {% if current_price %}
                    <p>Actualmente, el precio de {{ selected_crypto.capitalize() }} es: ${{ current_price }}</p>
                {% endif %}
                {% if predicted_price %}
                    <p>Para {{ selected_crypto.capitalize() }} el {{ day }}/{{ month }}/{{ year }} el precio predicho es: ${{ predicted_price | round(2) }}</p>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>